{% extends "blog/base.html" %}

{% block content %}

<br>
<div class="container" style="width:100%">
    <h2>About Page</h2>
</div>
<br>
<div class="container" style="width:100%; height: 800;">
    <div class="jumbotron" style="background: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tortor a ante ornare sodales a ac tortor. Suspendisse dolor turpis, fermentum ac augue eget, consectetur cursus libero. Proin sit amet libero sit amet diam bibendum sollicitudin at quis nunc. Morbi aliquet sem sit amet nibh volutpat consectetur. Duis ultrices porttitor nibh, sit amet auctor libero mattis ac. Morbi malesuada sagittis mollis. Curabitur rhoncus ultrices erat, eget elementum eros blandit non. Curabitur fringilla rutrum consequat. Fusce semper rutrum tortor, id blandit elit posuere ac. Curabitur tristique, odio et pulvinar lacinia, arcu urna euismod lacus, vitae accumsan massa dui ac urna. Etiam suscipit egestas mauris, porta hendrerit elit suscipit sit amet.</p> 
        <p>Etiam tempus lorem ac orci suscipit, vitae semper sapien viverra. Vestibulum iaculis rhoncus magna, eu aliquam nisi. Vestibulum turpis nibh, rhoncus in tristique nec, euismod et ante. Cras at purus id ipsum posuere ullamcorper. Quisque interdum justo ex, eu maximus justo commodo ac. Nunc turpis massa, efficitur sit amet bibendum eu, finibus vitae libero. Etiam finibus sagittis lectus, sit amet vehicula orci tincidunt ac. Aenean mollis felis vitae quam imperdiet tempor.</p>
        
        <h3> Community Guidelines</h3>
        <ol>
            <li>Guideline 1</li>
            <li>Guideline 2</li>
            <li>Guideline 3</li>
            <li>Guideline 4</li>
            <li>Guideline 5</li>
            <li>Guideline 6</li>
        </ol>

    </div>
</div>



{% endblock content %}