{% extends "blog/base.html" %}

{% block content %}


<div class="container" style="width: 100%;">
    <br>
    <div class="container">
        <h2>Search Results for '{{query}}' - {{ posts|length }}</h2>
    </div>

    <br>
    {% for post in posts %}
    
    <div class="card" style="width: 100%;">
        <div class="row" style="width: 100%;padding: 10px;">
            <div class="card-body" style="width: 10%; float:left">
                <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" width="60" height="60">
            </div>
    
            <div class="card-body" style="width: 90%; float:right">
                <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                <p class="text-muted">By <a href="{% url 'user-post' post.author.username %}">{{post.author}}</a> on
                    {{post.date_posted | date:"d F, Y"}}</p>
                <hr>
                <p>{{post.content}}</p>
            </div>
        </div>      
    </div>
    <br>
     



    {% endfor %}
</div>


{% endblock content %}