{% extends "blog/base.html" %}

{% block content %}

<br><br>
<div class="container" style="width: 100%;">
    <br>
    <div class="card" style="width: 100%;">
        <div class="card-body" style="text-align: center;width: 100%;">
            <img class="rounded-circle account-img" src="{{ context_author.profile.image.url }}" width="100" height="100">
            <div class="media-body">
                <h2 class="account-heading">{{context_author.username }}</h2>
                <p class="text-secondary"> {{ context_author.email }}</p>
                <p class="text-secondary"> Posts till date : {% if posts %}
                                                            {{ posts|length }}
                                                            {% else %}
                                                                No posts yet
                                                            {% endif %}</p>
            </div>
        </div>
    </div>
    <br>
    
    
    <h2>Posts by  {{ view.kwargs.username }}</h2>
    <br>

    {% for post in posts %}
    <div class="card" style="background: color #e9e9e9;width:100%">
        <div class="row" style="width:100%;padding: 10px;">
            <div class="card-body" style="width: 10%; float:left">
                <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" width="60" height="60">
            </div>
    
            <div class="card-body" style="width: 90%; float:right">
                <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                <p class="text-muted">By <a href="{% url 'user-post' post.author.username %}">{{post.author}}</a> on
                    {{post.date_posted | date:"d F, Y"}}</p>
                <hr>
                <p>{{post.content}}</p>
            </div>
        </div>      
    </div>
    <br>

    {% endfor %}
</div>









{% endblock content %}