{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="container"  style="width: 700px;">
    <div class="jumbotron" style="text-align: center;background: white; ">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="100" height="100">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary"> {{ user.email }}</p>
        </div>
    </div>

    <div class="jumbotron" style="background: white;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Wanna update your profile? :D</legend>
                {{ u_form | crispy}}
                {{ p_form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>

</div>




{% endblock content %}