{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="container" style="width: 600px; height: 800">
    <div class="jumbotron" style="width: 600px;height: 800">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Today!</legend>
                {{ form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login'%}">Sign In</a>
            </small>
        </div>

    </div>
</div>
    <hr>


    {% endblock content %}